If:
  PathMatch: [.*\.(cpp|hpp|cu|cuh|hip)]
CompileFlags:
  Add:
    - -std=c++20
---
If:
  PathMatch: [.*\.(c|h|cpp|hpp|cu|cuh)]
CompileFlags:
  Remove:
    - -forward-unknown-to-host-compiler
    - --generate-code=*